---
import "../styling/index.css";
import Page from "../layout/page.astro";
import Hero from "../components/hero.astro";
---

<html lang="en">
  <Page>
    <Hero />
    <h1>*Section*</h1>
    <h1>*Section*</h1>
    <h1>*Section*</h1>
    <h1>*Section*</h1>
  </Page>
</html>
