---
import "../styling/index.css";
import Page from "../layout/page.astro";
import Hero from "../components/hero.astro";
import HvadErUge44 from "../components/HvadErUge44.astro";
import KommendeEvents from "../components/KommendeEvents.astro";
import HvorforUge44 from "../components/HvorforUge44.astro";
import BlivArrangoer from "../components/BlivArrangoer.astro";
import Downloads from "../components/Downloads.astro";
---

<html lang="en">
  <Page>
    <main>
      <Hero />
      <HvadErUge44 />
      <KommendeEvents />
      <HvorforUge44 />
      <BlivArrangoer />
      <Downloads />
    </main>
  </Page>
</html>
