---
import "../styling/info.css";
import Page from "../layout/page.astro";
import Infobox from "../components/infobox.astro";
import Admin from "../components/admin.astro";
---

<Page>
  <main>
    <Infobox />
    <Admin />
  </main>
</Page>
