<header>
  <nav>
    <a class="nav_button" href="events"><p class="nav_button">Events</p></a>
    <a href="/"><div class="logo_wrapper"><div class="logo"><p class="temp_p">LOGO</p></div></div></a>
    <a class="nav_button" href="info"><p class="nav_button">Info</p></a>
  </nav>
</header>
