<header>
  <nav>
    <a class="nav_button" href=""><p class="">Events</p></a>
    <a href=""><div class="logo_wrapper"><div class="logo"><p class="temp_p">LOGO</p></div></div></a>
    <a class="nav_button" href=""><p class="">Info</p></a>
  </nav>
</header>

<!--+----------+----------+----------+----------+----------+----------+-->

<style>
  header {
    height: 4lh;
    background-color: lightsalmon;
  }
  nav {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  a {
    height: fit-content;
    width: fit-content;
    padding: 0.5lh 1.5lh;
    justify-self: center;
    align-self: center;
    /*|----------|*/
    background-color: salmon;
    border-radius: 2lh;
  }
</style>
