<header>
  <nav>
    <a class="nav_button" href=""><p class="nav_button">Events</p></a>
    <a href=""><div class="logo_wrapper"><div class="logo"><p class="temp_p">LOGO</p></div></div></a>
    <a class="nav_button" href=""><p class="nav_button">Info</p></a>
  </nav>
</header>

<!--+----------+----------+----------+----------+----------+----------+-->

<style>
  nav {
    height: 100%;
    padding: 1rlh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  a {
    justify-self: center;
    align-self: center;
  }
</style>
