<div class="hero">
  <div class="temp_img"></div>
  <div class="hero_info">
    <h1>Hero-sektion: Overskrift</h1>
    <h2>Hero-sektion: Underoverskrift</h2>
  </div>
</div>

<!--+----------+----------+----------+----------+----------+----------+-->

<style>
  .hero {
    aspect-ratio: 2/1;
    .temp_img {
      height: 100%;
      width: 100%;
    }
    .hero_info {
      width: 50%;
      margin: 5rlh;
      position: relative;
      top: calc(-100%);
    }
  }
</style>
