<section>
  <div class="infobox">
    <p class="decorative">Landsforeningen Liv&Død</p>
    <h1>Om os</h1>
    <p>Landsforeningen Liv&Død arbejder for at starte den gode samtale og nedbryde tabuet om døden.</p>
  </div>
</section>

<style>
  .infobox {
    width: 75%;
    padding: 3rlh;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rlh;
    /*|STYLING|*/
    border-radius: 2rlh;
    background-color: var(--colour_salmon_main);
    background-image: url(../assets/graphics/uge44_speechbubble_plain.svg);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: bottom 1rlh center;
  }
  .decorative {
    margin-bottom: 2rlh;
  }
  p:last-of-type {
    font-family: "Comfortaa";
    font-size: 40px;
    font-weight: 300;
  }
</style>
